.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #30323452;

    -webkit-animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.wrapper {
    width: calc(100% - 32px);
    max-width: 360px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translate(-50%, 0);
    padding: 40px 16px 20px;
    border-radius: 24px;
}

.image {
    position: absolute;
    left: 44%;
    top: -24px;

    border-radius: 16px;
}
