.container {
    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 1;
    background-color: #38343a85;
}

.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-right-color: orange;
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn);
    }
}
