.button {
    cursor: pointer;
}

.button,
.linkButton {
    width: auto;
    padding: 16px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: inherit;
    border: none;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    &:disabled {
        cursor: auto;
    }

    &.size-m {
        font-size: 12px;

        padding: 8px 12px;

        border-radius: 12px;
    }

    &.size-s {
        font-size: 12px;

        padding: 6px;

        border-radius: 12px;
    }

    &.size-xs {
        padding: 2px;

        border-radius: 4px;
    }

    &.fullWidth {
        width: 100%;
    }

    &.variant-custom {
    }

    &.variant-action {
        color: #ffffff;
        background: #f40c43;

        &:hover {
            filter: brightness(1.2);
        }

        &:disabled {
            background: #c1c1c1;
        }
    }

    &.variant-alert {
        color: #303234;
        background: #fff7b8;

        // &:hover {
        //     background: #e00c3d;
        // }

        &:disabled {
            background: #c1c1c1;
        }
    }

    &.variant-green {
        color: #ffffff;
        background: #4fde38;

        &:hover {
            filter: brightness(1.2);
        }

        &:disabled {
            background: #c1c1c1;
        }
    }

    &.variant-normal {
        color: #303234;
        background: #e9e9e9;

        &:hover {
            filter: brightness(1.05);
        }
    }

    &.variant-action-white {
        color: #303234;
        background: #ffffff;

        &:hover {
            filter: brightness(1.2);
        }

        &:disabled {
            background-color: #ffffff80;
        }
    }

    &.variant-pseudo {
        color: #303234;

        padding: 0px;

        &:hover {
            filter: brightness(1.2);
        }
    }

    &.variant-outline {
        color: #f40c43;
        background-color: white;
        border: 1px solid #f40c43;

        &:hover {
            filter: brightness(1.2);
            border: 1px solid #9f0a2c;
        }
    }
}
