.button {
    width: auto;
    padding: 16px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border: none;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    &.fullWith {
        width: 100%;
    }

    &.variant-action {
        color: #ffffff;
        background: #f40c43;

        &:hover {
            background: #e00c3d;
        }
    }

    &.variant-normal {
        color: #303234;
        background: #e9e9e9;

        &:hover {
            background: #dddddd;
        }
    }

    &.variant-pseudo {
        color: #303234;

        padding: 0px;

        &:hover {
            color: #787676;
        }
    }

    &.variant-outline {
        color: #f40c43;
        background-color: white;
        border: 1px solid #f40c43;

        &:hover {
            color: #9f0a2c;
            border: 1px solid #9f0a2c;
        }
    }
}
