.button {
    width: 100%;
    padding: 16px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border: none;
    border-radius: 16px;

    &.variant-action {
        color: #ffffff;
        background: #f40c43;

        &:hover {
            background: #e00c3d;
        }
    }

    &.variant-normal {
        color: #303234;
        background: #e9e9e9;

        &:hover {
            background: #dddddd;
        }
    }
}
