.image {
    width: 100%;
    height: auto;

    max-height: 30vh;
    object-fit: contain;
}

.category {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 4px 8px;
}

.tab {
    width: 100%;
    border: 1px solid #9ca3aa7a;
    border-radius: 12px;
}

.greentab {
    color: #42c52d;
    background: #3bcf233d;
}

.groups {
    border-top: 1px solid;

    &List {
        list-style: none;

        & li:not(:last-child) {
            border-bottom: 1px solid #9ca3aa52;
        }
    }

    &Btn {
        padding: 8px 12px;
        background: #f40c43;
        color: #ffffff;
        border: none;
        border-radius: 12px;
    }
}

.about {
    border-top: 1px solid;

    &List {
        list-style: none;

        & li:not(:last-child) {
            border-bottom: 1px solid #9ca3aa52;
        }
    }
}

.iconBox {
    line-height: 0;
    position: relative;
    right: -4px;
}

.btn {
    background: none;
    border: none;
    padding: 8px 0px;
}
