.container {
    background-color: #ffffff;
}

.content {
    max-width: 1320px;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.categoriesButton.customSize {
    color: #ffffff;
    background: linear-gradient(93.58deg, #f40c43 0.6%, #fd6e55 51%, #ffaf60 99.68%);

    height: 40px;
}
