.container {
    background-color: #ffffff;
}

.content {
    max-width: 1320px;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

button.categoriesButton.customSize {
    color: #ffffff;
    background: linear-gradient(93.58deg, #f40c43 0.6%, #fd6e55 51%, #ffaf60 99.68%);

    height: 40px;
    border-radius: 12px;
}

.searchButton {
    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
}

.textField.custom {
    padding: 9px 12px;

    display: block;
}
