.information {
    max-width: 58px;

    &:first-of-type .box {
        background: linear-gradient(300.11deg, #f40c43 6.73%, #ffe2c6 107.75%);
    }

    & .box {
        border: 1px solid #eae5ec;
        background: linear-gradient(0deg, #eae5ec, #eae5ec), linear-gradient(0deg, #f2ecf4, #f2ecf4);
    }
}

.image {
    border-radius: 16px;
}

.iconBox {
    padding: 4px;
    border: 1px solid #303234;
    line-height: 0;
    border-radius: 50%;
    color: #f40c43;

    &:first-child {
        margin-right: 8px;
        transform: rotate(180deg);
    }

    &:last-child {
        border-color: #f40c43;
        margin-left: 8px;
    }
}
