.container {
    position: relative;

    width: 100%;
}

.select {
    width: 100%;

    border: 1px solid #9ca3aa7a;
    border-radius: 10px;

    size: 12px;
    line-height: 14px;

    padding-right: 40px;

    &:focus {
        outline: none;
    }

    &.size-s {
        padding: 8px 12px;
    }

    &.size-m {
        padding: 12px 16px;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.icon {
    position: absolute;

    top: 50%;
    right: 12px;

    margin-top: -8px;
}
