.customButton {
    position: absolute;

    &.back {
        top: 12px;
        left: 0;
    }

    &.like {
        top: 12px;
        right: 0;
    }

    z-index: 2;

    & > button.customRadius {
        padding: 4px;
        border-radius: 50%;
        border: 1px solid #9ca3aa52;
    }
}
