.checkoutLink {
    width: 100%;
}

.checkoutButtonContainer {
    max-width: 460px;

    position: fixed;

    bottom: 58px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
}
