.headerButton {
    border: 1px solid #e1a6b414;
    border-radius: 8px;
    padding: 6px 12px;
    height: 28px;
    background: linear-gradient(0deg, rgba(225, 166, 180, 0.08), rgba(225, 166, 180, 0.08)),
        linear-gradient(0deg, #f5f5f5, #f5f5f5);
}
