@import 'animation/slide-in.scss';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #38343a52;
}

.content {
    display: flex;
    flex-direction: column;

    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 16px 16px 16px;
    border-radius: 24px 24px 0 0;
    color: #303234;

    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    .header {
        min-height: 32px;
    }

    &.fullHeight {
        top: 0;
    }

    &.withLine {
        // полоска сверху дровера
        &::after {
            content: '';
            position: absolute;
            width: 74px;
            height: 3px;
            background: #efebf1;
            top: 8px;
            left: calc(50% - 37px);
        }
    }

    & .closeIcon {
        cursor: pointer;
        position: absolute;

        top: 8px;
        right: 8px;

        padding: 8px;
    }
}
