.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #38343a52;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 24px;

    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px 16px 16px 16px;
    border-radius: 24px 24px 0 0;
    color: #303234;

    &::after {
        content: '';
        position: absolute;
        width: 74px;
        height: 3px;
        background: #efebf1;
        top: 8px;
        left: calc(50% - 37px);
    }
}

.inputContainer {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 1px;
        background: #303234;
        top: 50%;
        left: calc(50% - 8px);
    }
}

.input {
    width: calc(50% - 12px);
    border: 1px solid #9ca3aa7a;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #2f3337a3;
}

.checkbox {
    margin-right: 8px;
    vertical-align: middle;
}
