.label {
    min-width: 22px;
    width: 22px;
    height: 22px;
    border: 1px solid #9ca3aa7a;
    border-radius: 4px;

    position: relative;

    user-select: none;

    &.cheked {
        border: 1px solid #f40c43;
        background-color: #f40c43;
    }

    & > img {
        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    & > input {
        display: none;
    }
}
