.reviewsList {
    width: 100%;
    overflow: auto;
}

.reviewsItem {
    min-width: 160px;
    height: 132px;
    border: 1px solid #9CA3AA7A;
    border-radius: 12px;
    // overflow: hidden;

    & span {
        display: block;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;;
        overflow: hidden;
        // white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.btn {
    background: none;
    border: none;
    padding: 8px 0px;
}