.container {
    background-color: #f5f5f5;
}

.header {
    background-color: #fff;
}

.reviewItem {
    background-color: #fff;

    border-radius: 16px;
}

.topContent {
    background-color: #fff;

    border-radius: 0 0 16px 16px;

    padding: 0 16px 16px 16px;
}

.newReviewOfferBox {
    border-radius: 10px;
    border: 1px solid #9ca3aa7a;

    & > img {
        border-radius: 8px;
    }
}
