@import 'mixins/mixins.scss';

.footer {
    background-color: #fff;

    box-shadow: 0px -4px 16px 0px #3f3e431f;

    &.withoutShadow {
        box-shadow: none;
    }

    &.hide {
        -webkit-animation: slide-bottom 0.3s ease-out forwards;
        animation: slide-bottom 0.3s ease-out forwards;
    }
    &.show {
        -webkit-animation: slide-top 0.3s ease-out forwards;
        animation: slide-top 0.3s ease-out forwards;
    }

    border-top: 1px solid #9ca3aa52;

    position: fixed;

    bottom: 0;

    @media (max-width: 460px) {
        left: 0;
        right: 0;
    }

    @media (min-width: 461px) {
        width: 460px;
        min-width: 360px;
    }
}

.footerButtonCount {
    position: absolute;

    right: 0;
    background: #f40c43;
    color: white;
    border-radius: 12px;

    padding: 2px;
    min-width: 20px;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

@include keyframes('slide-bottom') {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
    }
}

@include keyframes('slide-top') {
    0% {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
