@import 'animation/fade-in';
@import 'constants/base';

.container {
    position: sticky;
    top: 0px;

    z-index: 2;
}

.layover {
    margin-top: -8px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    position: fixed;
    z-index: 2;

    background-color: white;

    top: 64px;
    bottom: 0;
    left: 0;

    width: $mobile-layout-max-width;
    min-width: 360px;

    -webkit-animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.foundItem:not(:last-child) > :first-child {
    border-bottom: 1px solid #9ca3aa52;
}
