.about {
    &List {
        list-style: none;

        & li:not(:last-child) {
            border-bottom: 1px solid #9ca3aa52;
        }
    }
}

.btn {
    background: none;
    border: none;
    padding: 8px 0px;
}
