.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    // grid-template-columns: auto;
    // grid-template-rows: repeat(minmax(262px, 1fr));
    gap: 24px 8px;
}

.offerList {
    background-color: #fff;
}
